.detailcontainer {
  background-color: #efefef;
  display: flex;
  padding: 5% 0 20% 0;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  background-color: wheat;
  background-image: url("https://st2.depositphotos.com/3740491/8238/v/450/depositphotos_82386710-stock-illustration-outline-seamless-pattern-with-hand.jpg");
  background-repeat: repeat;
}
.detailcontainer .detailul {
  display: flex;
  margin: 10px;
  padding: 0px;
  flex-flow: column;
  background-color: #d2001a;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.detailcontainer .detailul .detailimage {
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
}
.detailcontainer .detailul .detailli {
  color: #efefef;
}
