.detailcontainer {
  background-color: #efefef;
  display: flex;
  flex-flow: column;
  flex-direction: row;
  padding: 0% 0 25% 0;
  justify-content: center;
  background-color: wheat;
  background-image: url("https://st2.depositphotos.com/3740491/8238/v/450/depositphotos_82386710-stock-illustration-outline-seamless-pattern-with-hand.jpg");
  background-repeat: repeat;
}
.detailcontainer .ulgeneral {
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
.detailcontainer .detailul {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  padding: 0px;
  border-radius: 20px;
  justify-content: center;
}
.detailcontainer .detailul .detailimage {
  border: 2px solid #efefef;
  border-radius: 20px;
  height: 500px;
  width: 1000px;
}
.detailcontainer .detailul .detailli {
  color: #efefef;
  display: flex;
  flex-flow: column;
  flex-direction: row;
}
.detailcontainer .datainfo {
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #e97777;
  border: 5px solid #efefef;
  border-radius: 20px;
}
.detailcontainer .datainfo .detailli {
  color: #efefef;
  word-break: break-all;
  display: inline;
  margin: 0px 0px 10px 10px;
}
