.navcontainer {
  text-decoration: none;

  .nav {
    background-color: #e97777;

    //background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmCoXKhygOvaNem2V701fYVmpOt69-wPDvlxOrxJ5WksSEZt8lYoOtZ9zSkzhzW2_Czh0&usqp=CAU");
    // background-repeat: repeat;
    .navul {
      margin: 0px;

      justify-content: center;
      display: flex;

      .navli {
        justify-content: center;

        flex-direction: row;
        margin: 10px;
        color: white;
        font-size: 30px;
      }
    }
  }
}
