.homecontainer {
  padding: 25%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  text-align: center;
  background-color: #efefef;
  background-image: url("https://live.staticflickr.com/65535/50813570567_f69b84c427_b.jpg");
  background-size: cover;
  text-indent: none;
}
.homecontainer .link {
  font-size: 40px;
  text-decoration: none;
  border-radius: 5px;
}
