.recipecreator {
  padding: 0 0 15% 0;
  background-color: #efefef;
  background-image: url("https://media.istockphoto.com/vectors/fast-food-seamless-pattern-with-vector-line-icons-of-hamburger-pizza-vector-id1182393436?k=20&m=1182393436&s=612x612&w=0&h=dBfdRS9u4_maG_64tWyZNNSNZBg6aWcuDEw95Xno8oI=");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipecreator .inputsform {
  display: flex;
  flex-direction: column;
  width: 690px;
  border-radius: 10px;
}
.recipecreator .inputs {
  margin: 2px;
  border-radius: 10px;
}
.recipecreator .formlabel {
  margin-top: 5px;
  border-radius: 10px;
  color: black;
  width: 690px;
  background-color: #e97777;
}
.recipecreator .heal {
  background-color: red;
  color: white;
}
