.recipecreator {
  background-color: #efefef;
  background-image: url("https://us.123rf.com/450wm/prettyvectors/prettyvectors1608/prettyvectors160800022/60532577-food-background-pattern-vector-flat-cartoon-illustration.jpg?ver=6");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipecreator .inputsform {
  display: flex;
  flex-direction: column;
}
.recipecreator .inputs {
  margin: 2px;
}
.recipecreator .formlabel {
  color: white;
}
