.recipecreator {
  padding: 0 0 15% 0;
  background-color: #efefef;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/275/702/original/fast-food-seamless-background-illustration-simple-restaurant-menu-background-vector.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipecreator .inputsform {
  display: flex;
  flex-direction: column;
  width: 690px;
  border-radius: 10px;
}
.recipecreator .inputs {
  margin: 2px;
  border-radius: 10px;
}
.recipecreator .formlabel {
  margin-top: 5px;
  border-radius: 10px;
  color: black;
  width: 690px;
  background-color: #e97777;
}
.recipecreator .heal {
  background-color: red;
  color: white;
}
.recipecreator .Errors {
  transition: 1s;
  display: flex;
  justify-content: center;
  margin: 0px;
  color: red;
  width: 690px;
  background-color: black;
  border-radius: 20px;
}
