.divsearchgenearl {
  background-color: #d2001a;
  color: white;
  display: flex;
  padding: 5px;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmCoXKhygOvaNem2V701fYVmpOt69-wPDvlxOrxJ5WksSEZt8lYoOtZ9zSkzhzW2_Czh0&usqp=CAU");
  border: 1px solid red;
  align-items: center;
  border-radius: 10px;
}
.divsearchgenearl .selects {
  border-radius: 10px;
}
.divsearchgenearl .itemfilter {
  border-radius: 10px;
  font-size: 25px;
  color: black;
  padding: 0px 10px;
}
