.divsearchgenearl {
  background-color: #d2001a;
  color: white;
  margin: 0px;
  padding: 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmCoXKhygOvaNem2V701fYVmpOt69-wPDvlxOrxJ5WksSEZt8lYoOtZ9zSkzhzW2_Czh0&usqp=CAU");
  border: 1px solid black;
  align-items: center;
}
.divsearchgenearl .itemfilter {
  font-size: 25px;
  color: black;
}
