.recipecontainer {
  background-color: #cf3030;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  margin: 10px;
  width: 100%;
  height: fit-content;
  word-break: break-all;
}
.recipecontainer .imageul {
  padding: 0px;
  margin: 0px;
  display: inline;
}
.recipecontainer .imageul .imagerecipe {
  margin: 0px;
  padding: 0px;
  height: 200px;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
.recipecontainer .imageul .imagerecipeli {
  border-radius: 20px;
  color: #efefef;
  display: flex;
  flex-flow: column;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.recipecontainer .recipeulgeneral {
  display: flex;
  flex-flow: row;
  box-shadow: #26394d 0px 20px 30px -10px;
  margin: 0px;
  padding: 0px;
}
.recipecontainer .recipeulgeneral .recipeimage {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.recipecontainer .recipeulgeneral .recipedataul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  border-radius: 20px;
}
.recipecontainer .recipeulgeneral .recipedataul .recipedatali {
  margin: 10px 0px 10px 0px;
  color: #efefef;
  display: inline;
  font-size: 20px;
}
