.recipecontainer {
  background-color: #cf3030;
  display: flex;
  flex-direction: column;
  flex-flow: column;

  margin: 10px;

  width: 100%;
  height: fit-content;
  word-break: break-all;
  .imageul {
    padding: 0px;
    margin: 0px;
    display: inline;

    .imagerecipe {
      margin: 0px;
      padding: 0px;
      height: 200px;

      display: flex;
      flex-flow: column;
      flex-direction: column;
    }
    .imagerecipeli {
      border-radius: 20px;
      color: black;
      display: flex;
      flex-flow: column;
      flex-direction: row;
      padding: 0px;
      margin: 0px;
      height: 100%;
    }
  }
  .recipeulgeneral {
    display: flex;
    flex-flow: row;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0px;
    padding: 0px;
    .recipeimage {
      margin: 0px;
      padding: 0px;
      height: 100%;
    }
    .recipedataul {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-flow: column;
      flex-direction: column;
      border-radius: 20px;

      .recipedatali {
        margin: 10px 0px 10px 0px;
        color: #efefef;
        display: inline;
        font-size: 25px;
      }
    }
  }
}
